
@{
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/Content/css/style-seats.css")
    @Scripts.Render("~/Scripts/jquery.seat-charts.js")

    ViewBag.Title = "Selecionar asientos";
}

<div class="main">
    <h2>Sala 1, pantalla de proyección de teatro multiplex</h2>
    <div class="demo">
        <div id="seat-map">
            <div class="front">PANTALLA</div>
        </div>
        <div class="booking-details">
            <ul class="book-left">
                <li>Película </li>
                <li>Tiempo </li>
                <li>Boletos</li>
                <li>Total</li>
                <li>Asientos:</li>
            </ul>
            <ul class="book-right">
                <li>: El nuevo mundo</li>
                <li>: April 3, 21:00</li>
                <li>: <span id="counter">0</span></li>
                <li>: <b><i>$</i><span id="total">0</span></b></li>
            </ul>
            <div class="clear"></div>
            <ul id="selected-seats" class="scrollbar scrollbar1"></ul>
            <button class="checkout-button">Reservar ahora</button>
            <div id="legend"></div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>

<script type="text/javascript">
	var price = 10; //price
	var cont = 1;
	var max = 1;
	$(document).ready(function() {
		var $cart = $('#selected-seats'), //Sitting Area
		$counter = $('#counter'), //Votes
		$total = $('#total'); //Total money
		var array = [  //Seating chart
			    'aaaaaaaaaa',
				'aaaaaaaaaa',
				'__________',
				'aaaaaaaa__',
				'aaaaaaaaaa',
				'aaaaaaaaaa',
				'aaaaaaaaaa',
				'aaaaaaaaaa',
				'aaaaaaaaaa'
			];

		console.log(array);
		var sc = $('#seat-map').seatCharts({
			map: array,
			naming : {
				top : false,
				getLabel : function (character, row, column) {
					return column;
				}
			},
			legend : { //Definition legend
				node : $('#legend'),
				items : [
					[ 'a', 'available',   'Disponible' ],
					[ 'a', 'unavailable', 'Reservado'],
					[ 'a', 'selected', 'Selecionado']
				]
			},
			click: function () { //Click event
				if (this.status() == 'available' && cont <= max) { //optional seat
					cont++;
					console.log(this);
					var start_value = 65;
					var char = (start_value+parseInt(this.settings.row));

					$('<li>'+String.fromCharCode(char)+this.settings.label+'</li>')
						.attr('id', 'cart-item-'+this.settings.id)
						.data('seatId', this.settings.id)
						.appendTo($cart);

					$counter.text(sc.find('selected').length+1);
					$total.text(recalculateTotal(sc)+price);

					return 'selected';
				} else if (this.status() == 'selected') { //Checked
						if(cont > 1){
							cont--;
						}
						//Update Number
						$counter.text(sc.find('selected').length-1);
						//update totalnum
						$total.text(recalculateTotal(sc)-price);

						//Delete reservation
						$('#cart-item-'+this.settings.id).remove();
						//optional
						return 'available';
				} else if (this.status() == 'unavailable') { //sold
					return 'unavailable';
				} else {
					if(cont >= max){
						alert('Ha selecionado todos los asientos solicitados');
					}
					return this.style();
				}
			}
		});
		//sold seat
		sc.get(['A_2', 'D_4','D_5','F_6','F_7','H_5','H_6','H_7','H_8', 'J_1', 'J_2']).status('unavailable');
		console.log(sc);
	});
	//sum total money
	function recalculateTotal(sc) {
		var total = 0;
		sc.find('selected').each(function () {
			total += price;
		});

		return total;
	}
</script>
@{
    @Scripts.Render("~/Scripts/app.js")
    @Scripts.Render("~/Scripts/plugins.js")
    @Scripts.Render("~/Scripts/jquery.nicescroll.js")
    @Scripts.Render("~/Scripts/scripts.js")
}
