@model CatchFilms.Models.User
@{
    string baseUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
    ViewBag.Title = "Registrarse";
}

<div class="container" style="max-width: 60%; min-width: 380px;">

@using (Html.BeginForm(null, null, FormMethod.Post, new { @action = String.Concat(baseUrl, "login/signup") }))
{
    @Html.AntiForgeryToken()
    <h2 class="text-center">Registrar cuenta de usuario</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Primer Nombre" } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Primer Apellido" } })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Fecha de nacimiento</label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.EditorFor(model => model.birthDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "Correo electrónico" } })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre de usuario" } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.EditorFor(model => model.pass, new { htmlAttributes = new { @class = "form-control", placeholder = "Contraseña" } })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-warning btn-block" style="color: #FFF;">Registrarse</button>
            </div>
        </div>
    </div>
}
</div>
