@{ 
    int rol = 3;
    SessionData sessionData = (SessionData) Session["sessionData"];
    if (sessionData != null) { rol = sessionData.rolID; }
    string baseUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/Scripts/jquery-1.11.1.min.js")
    <style type="text/css">
        .links:link {
           text-decoration:none;
        }
        .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .menu-item .dropdown-menu a{
            padding: 7px 15px 7px 15px;
        }
        .dropdown-menu.show {
            margin-top: 13px;
        }
    </style>
</head>
<body style="min-height: 100vh">
    <div id="site-content">
        <header class="site-header">
            <div class="container">
                <a href="@Url.Action("index","home")" id="branding" class="links">
                    <img src="~/Content/images/logo.png" alt="" class="logo">
                    <div class="logo-copy">
                        <h1 class="site-title">Catch Films</h1>
                        <small class="site-description">Universidad Centroamericana</small>
                    </div>
                </a> <!-- #branding -->
                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item">
                            @Html.ActionLink("Inicio", "index", new { controller = "home" }, new { @class = "dropdown-item" })
                        </li>
                        @if (rol == 1)
                        {
                            <li class="menu-item dropdown">
                                <a href="#" class="links dropdown-toggle" data-toggle="dropdown">Página principal</a>
                                <br />
                                <div class="dropdown-menu">
                                    @Html.ActionLink("Inicio", "index", new { controller = "home" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Cartelera", "billboard", new { controller = "movie" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Próximamente", "billboard", new { controller = "movie" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Acerca de", "about", new { controller = "home" }, new { @class = "dropdown-item"   })
                                </div>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="#" class="links dropdown-toggle" data-toggle="dropdown">Servicios</a>
                                <br />
                                <div class="dropdown-menu">
                                    @Html.ActionLink("Registrar película", "create", new { controller = "movie" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Ver registros", "index", new { controller = "movie" }, new { @class = "dropdown-item" })
                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink("Registrar función", "create", new { controller = "function" }, new { @class = "dropdown-item" })
                                </div>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="#" class="links dropdown-toggle" data-toggle="dropdown">Salas</a>
                                <br />
                                <div class="dropdown-menu">
                                    @Html.ActionLink("Informes de salas", "index", new { controller = "room" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Registrar nueva sala", "create", new { controller = "room" }, new { @class = "dropdown-item" })
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="menu-item">
                                @Html.ActionLink("Cartelera", "billboard", new { controller = "movie" }, new { @class = "links" })
                            </li>
                            <li class="menu-item">@Html.ActionLink("Próximamente", "billboard", new { controller = "movie" }, new { @class = "links" })</li>
                            <li class="menu-item">@Html.ActionLink("Acerca de", "about", new { controller = "home" }, new { @class = "links" })</li>
                        }
                        @if (rol == 3)
                        {
                            <li class="menu-item">@Html.ActionLink("Iniciar sesión", "signin", new { controller = "login" }, new { @class = "links" })</li>
                        }
                        else
                        {
                            <li class="menu-item dropdown">
                                <a href="#" class="links dropdown-toggle" data-toggle="dropdown">@sessionData.nameID</a>
                                <br />
                                <div class="dropdown-menu">
                                    <div class="text-center" style="padding: 10px 0 10px 0">
                                        <img src="http://simulacionymedicina.es/wp-content/uploads/2015/11/default-avatar-300x300-1.jpg" alt="Avatar" class="avatar avatar-48 img-circle">
                                    </div>
                                    <div class="text-center" style="padding-left: 15px; padding-right: 15px;">
                                        <strong class="small">@String.Concat(sessionData.firstName," ",sessionData.lastName)</strong>
                                        <p class="small">@sessionData.email</p>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink("Mi perfil", "profileuser", new { controller = "login" }, new { @class= "dropdown-item" })
                                    @Html.ActionLink("Cerrar sesión", "signin", new { controller = "login" }, new { @class = "dropdown-item" })
                                </div>
                            </li>
                        }
                    </ul> <!-- .menu -->
                    <form class="search-form" method="get" action="/movie/searchmovies">
                        <input id="search_movie" name="name" type="text" placeholder="Buscar...">
                        <button type="button"><i class="fa fa-search"></i></button>
                    </form>
                </div> <!-- .main-navigation -->
                <div class="mobile-navigation"></div>
            </div>
        </header>
        <main class="main-content">
            @RenderBody()
        </main>
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="widget">
                            <h3 class="widget-title">Sobre nosotros</h3>
                            <p>Somos el grupo X1 de la Universidad Centroamericana, siendo Catch Films proyecto final de la clase Sistemas Distribuidos.</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="widget">
                            <h3 class="widget-title">Sobre la clase</h3>
                            <ul class="no-bullet">
                                <p>Se ha usado para el desarrollo de sistemas separados físicamente, que tienen un servidor en común.</p>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="widget">
                            <h3 class="widget-title">Centro de ayuda</h3>
                            <ul class="no-bullet">
                                <li><a href="#">cfhelpcenter@gmail.com</a></li>
                                <li><a href="#">+(505) 223-344-55</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="widget">
                            <h3 class="widget-title">UCA</h3>
                            <ul class="no-bullet">
                                <p>La Universidad Centroamericana siempre está comprometida a la excelencia en sus estudiantes.</p>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="widget">
                            <h3 class="widget-title">Redes Sociales</h3>
                            <ul class="no-bullet">
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Google+</a></li>
                                <li><a href="#">Pinterest</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="widget">
                            <h3 class="widget-title">Newsletter</h3>
                            <form action="#" class="subscribe-form">
                                <input type="text" placeholder="Email Address">
                            </form>
                        </div>
                    </div>
                </div> <!-- .row -->
                <div class="colophon">Copyright 2019 CatchFilms, Universidad Centroamericana UCA. Todos los derechos reservados por X1 Group.</div>
            </div> <!-- .container -->
        </footer>
    </div>
    <!-- Default snippet for navigation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/js")
</body>
</html>