@model dynamic 

@{
    ViewBag.Title = String.Concat("Detalles de ",Model.movie.name);
}
<div class="container">
    <div class="page">
        <div class="breadcrumbs">
            @Html.ActionLink("Inicio","index",new {controller = "home"})
            @Html.ActionLink("Películas", "billboard", new {controller = "movie" })
            <span>@Model.movie.name</span>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-6" style="max-height: 400px;">
                    <figure class="movie-poster"><img src="~/Content/dummy/slide-1.jpg" alt="#"></figure>
                </div>
                <div class="col-md-6">
                    <h2 class="movie-title">@Model.movie.name</h2>
                    <div class="movie-summary">
                        <p>@Model.movie.description</p>
                    </div>
                    <ul class="movie-meta">
                        <li>
                            <strong>Rating:</strong>
                            <div class="star-rating" title="Rated 4.00 out of 5"><span style="width:80%"><strong class="rating">4.00</strong> out of 5</span></div>
                        </li>
                        <li><strong>Duración:</strong> @Model.movie.time</li>
                        <li><strong>Premier:</strong> 22 March 2013 (USA)</li>
                        <li><strong>Categoria:</strong> @Model.movie.classification</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Próximas funciones</h3>
                    <p>Lista de las fechas de emisión y datos sobre la salas donde se realizaran las funciones para esta película</p>
                    <ul class="movie-schedule">
                    @foreach (var item in Model.functions)
                    {
                        <li>
                            <div class="date">@item.time.ToString("MM/dd")</div>
                            <h2 class="entry-title"><a href="#">@item.description</a></h2>
                        </li>
                    }
                    </ul>
               </div>
            </div>
        </div>
    </div>
</div>