@model CatchFilms.Models.Movie

@{
    ViewBag.Title = $"Editar película \"{Model.name}\"";
}

<!--<h2> Editar pelicula</h2>-->


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!--Contenedor del formulario-->
<div class="container">
    <div class="page">
        <div class="breadcrumbs">
            @Html.ActionLink("Inicio", "index", new { controller = "home" })
            @Html.ActionLink("Películas", "index", new { controller = "movie" })
            <span>@Model.name</span>
        </div>
    </div>
    <!--Estos elementos estan ocultos -->
    <!--Validatio... se muestra cuando ocurrió un error-->
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!--Este contiene el id de la película y por ende no se muestra-->
    @Html.HiddenFor(model => model.movieID)        
    <!--Creamos un div para definir la primera fila de inputs en el formulario-->
    <div class="row">
        <div class="col-md-12">
            <h3 class="section-title">@ViewBag.Title</h3>
        </div>
        <!--Creamos una columna para almacenar nuestro primer input esta tendrá untamaño del ...-->
        <div class="col-md-4">
            <!--Aquí ira el label que contiene el título o nombre del atributo del modelo en este caso name-->
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label" })<!--Eliminé col-md-2 porque esa no le daba espacio al tiltulo -->
            <div class="form-group">
                <!--Dentro del div form-group siempre va ir el input-->
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4">
            @Html.LabelFor(model => model.classification, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                @Html.EditorFor(model => model.classification, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.classification, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4">
            @Html.LabelFor(model => model.time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                @Html.EditorFor(model => model.time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4">
            @Html.LabelFor(model => model.coverURL, htmlAttributes: new { @class = "control-label " })
            <div class="form-group">
                @Html.EditorFor(model => model.coverURL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.coverURL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4">
            @Html.LabelFor(model => model.imageURL, htmlAttributes: new { @class = "control-label" })
            <div class="form-group">
                @Html.EditorFor(model => model.imageURL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.imageURL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4">
            @Html.LabelFor(model => model.rating, htmlAttributes: new { @class = "control-label" })
            <div class="form-group">
                @Html.EditorFor(model => model.rating, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rating, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Le diremos que tome todo el ancho del formulario con el valor 12 que es el máximo-->
        <div class="col-md-12">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label" })
            <div class="form-group">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="feature-subtitle">Funciones asociadas a la película</h3>
            <label>Lista de las fechas de emisión y datos sobre las funciones para esta película</label>
            <ul class="movie-schedule">
                @foreach (var item in Model.functions)
                {
                    <li>
                        @if ((item.time + Model.time) < DateTime.UtcNow)
                        {
                            <label class="card-link rounded bg-danger text-light small pull-right" style="padding: 5px 4px;">Función finalizada</label>
                        }
                        else
                        {
                            <label class="card-link rounded bg-success text-light small pull-right" style="padding: 5px 4px;">Función disponible</label>
                        }
                        <div class="date">@item.time.ToString("MM/dd")</div>
                        <h2 class="entry-title"><a href="@Url.Action("index","function")/@item.functionID">@item.description</a></h2>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-12">
            <br />
            <div class="form-group">
                <a href="@Url.Action("index","movie")" class="btn btn-success">Volver a la lista de películas</a>
            </div>
        </div>
    </div>
</div>
}
